/* registrar.css */
body {
    background-color: #000000; /* Color de fondo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
}

.img-fluid {
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
}